In [ ]:
studentName = "Ahmet"
studentAge = 20
studentSection = "Computer Engineering"

print(studentName)
print(studentAge)
print(studentSection )

Ahmet
20
Computer Engineering

In [ ]:
productName = "Pencil"
productPrice = 7.5
print(productName +" product price: " + str(productPrice) + " $" )

Pencil product price: 7.5 $

In [ ]:
number1 = 10
number2 = 25
sum = number1 + number2
difference = number1 - number2
multiplication = number1 * number2
division = number1/number2

print(sum)
print(difference)
print(multiplication)
print(division)

35
-15
250
0.4

In [ ]:
name = "Ali Kağan"
lastName = "Uyanık"
birthDate = 2001
currentDate = 2025
age = currentDate - birthDate
print(name + " " + lastName + " " + str(age) + " yaşındadır.")

Ali Kağan Uyanık 24 yaşındadır.

In [ ]:
pi = 3.14
radius = 5
area = pi * radius * radius
print(area)

78.5