In [ ]:
name = "Zeynep"
age = 23
average = 82.5
graduated = True

print(type(name))
print(type(age))
print(type(average))
print(type(graduated))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
a = "10"
b = 5
c= int(a)
print(b+c)

15

In [ ]:
list = [10, 20, 30, 40]

print(len(list))
print(list[0])
print(list[3])

4
10
40

In [ ]:
numberFromUser = input("Please enter a number (integer or float): ")

floatVersion = float(numberFromUser)
intVersion = int(floatVersion)

print("Integer version:", intVersion)
print("Float version:", floatVersion)

Please enter a number (integer or float): 12.5
Integer version: 12
Float version: 12.5